* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(211, 211, 211);
}

nav a {
  text-decoration: none;
  color: #000;
}

nav {
  margin: 30px 0;
}

nav .active {
  font-size: 1.2rem;
  text-decoration: underline;
}

nav a:hover {
  font-size: 1.2rem;
}

.card {
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  padding: 10px 20px;
  margin: 25px 0;
  max-width: 300px;
}

.card li {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
}

.search {
  margin: 30px 0 10px 0;
  padding: 5px 0;
}

.card i {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.message {
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  font-weight: bold;
  max-width: 200px;
  margin-top: 20px;
  padding: 1rem;
}

.message.error {
  border: 1px solid red;
  color: red;
  background-color: rgb(252, 233, 233);
}

.message.warning {
  border: 1px solid orange;
  color: orange;
  background-color: rgb(241, 228, 202);
}

button {
  padding: 10px;
  border-radius: 8px;
  float: right;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: rgb(99, 99, 99);
  color: #fff;
  cursor: pointer;
  margin-right: 50px;
}

nav,
h1,
.search,
ul {
  margin-left: 50px;
}
